@import "tailwindcss";
@import "tw-animate-css";
@import "./primitive-colors.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans-jp);
  --font-arial: "Arial";
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #fcfcfc;
  --foreground: var(--neutral-800);
  --card: var(--neutral-50);
  --card-foreground: var(--neutral-800);
  --popover: var(--neutral-50);
  --popover-foreground: var(--neutral-800);
  --primary: var(--yellow-800);
  --primary-foreground: var(--neutral-50);
  --secondary: var(--neutral-200);
  --secondary-foreground: var(--neutral-700);
  --muted: var(--neutral-100);
  --muted-foreground: var(--neutral-500);
  --accent: var(--neutral-100);
  --accent-foreground: var(--neutral-800);
  --destructive: var(--red-700);
  --border: var(--neutral-300);
  --input: var(--neutral-300);
  --ring: var(--neutral-500);
  --chart-1: var(--yellow-400);
  --chart-2: var(--yellow-500);
  --chart-3: var(--yellow-600);
  --chart-4: var(--yellow-700);
  --chart-5: var(--yellow-800);
  --sidebar: var(--neutral-50);
  --sidebar-foreground: var(--neutral-800);
  --sidebar-primary: var(--neutral-800);
  --sidebar-primary-foreground: var(--neutral-100);
  --sidebar-accent: var(--neutral-200);
  --sidebar-accent-foreground: var(--neutral-700);
  --sidebar-border: var(--neutral-600);
  --sidebar-ring: rgba(161, 161, 161, 0.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
